.ProtectedNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  a {
    font-weight: bold;
    color: #2c3e50;
  }

  &Logo {
    display: flex;
    align-items: center;

    &Image {
      max-width: 100%;
      width: 200px;
    }
  }

  &Item {
    text-decoration: none;
    margin-right: 0.5rem;

    i {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
