.TransactionPage {
  flex: 1;
  background-color: #12002b;
  display: flex;
  flex-direction: column;
  align-items: center;

  table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    transition: all 0.2s ease-in-out;

    thead {
      color: #fff;
      text-transform: uppercase;
    }

    tbody {
      background-color: #fff;

      tr {
        vertical-align: middle;
      }

      img,
      svg {
        width: 40px;
        min-width: 40px;
        min-height: 40px;
        aspect-ratio: 1/1;
        cursor: pointer;
      }
    }
  }
}
